########################
# Build / dépendances  #
########################

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle (au cas où un jour)
.gradle/
build/

# Logs et fichiers temporaires
*.log
*.tmp
*.swp

########################
# IDE / Éditeurs       #
########################

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.project
.classpath
.settings/
.bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

########################
# Systèmes d'exploitation
########################

# macOS
.DS_Store

# Windows
Thumbs.db
